<!DOCTYPE html>
<html>
    <head>

        <meta name="google-site-verification" content="y4Ps2e7xQ4zgk_T3L3HxSvSLMGSjAly6Kr0Pkbg7_2E" />
        <title>Patients' geolocalization</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

        <style>
            #map{
              height:500px;
              width:100;
            }
          </style>
    
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">PD eHealth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
               <% if(user) { %>
                <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="/auth/logout">Logout</a>
                <% } else { %>   
                <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="/auth/login">Login</a>
                <% } %>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5"><center>Patients' geolocalization</center></h1>
        </div>
      </div>

       <div id="map"></div>

       <script>
          var map = L.map('map').setView([59.334591, 18.063240], 5);
          var marker = L.marker([56.879, 14.8059]).addTo(map);
          marker.bindPopup("<a href='patient-profile'>Patient 1</a>").openPopup();
          var marker1 = L.marker([58.4108, 15.6214]).addTo(map);
          marker1.bindPopup("<a href='patient-profile'>Patient 2</a>").openPopup();

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.streets',
          accessToken: 'pk.eyJ1IjoibGluYTkyIiwiYSI6ImNqbnU4cXFucjB5eTEzd2w4eWU1NXcxNmwifQ.4q46THCEclG6RBSVx8wsuA'
          }).addTo(map);

        </script>  

        <hr>
      </center></div> <!-- /container -->
    </main>

    <footer class="container">
      <p>&copy; Computer Science Department - Linnaeus University. Lina Abu Hijleh 2018-2019.</p>
    </footer>

    </body>
</html>
